<%= render 'layouts/header' %>
<div class="row">
  <aside class="col-md-4">
    <section class="happy_fox">
      <h1>
        Here are the Happy Fox API calls:
      </h1>
      <pre>

      </pre>
      </section>
    </aside>
  </div>

<div class='row'>
  <aside class='col-md-4'>
    <h4>
      Count each status:
    </h4>
    <pre>
      <%= show(@tickets, "Open", "New", "Closed", "On Hold", "Unanswered") %>
    </pre>
  </aside>
</div>

<div class='row'>
  <aside class='col-md-4'>
    <h4>
      Unresponded Tickets:
    </h4>
    <pre>
      <%= count_unresponded(@tickets) %>
    </pre>
  </aside>
</div>


<div class='row'>
  <aside class='col-md-4'>
    <h4>
      Unresponded Tickets:
    </h4>
    <pre>
      <%= user_count(@tickets) %>
    </pre>
  </aside>
</div>
