<%= render 'layouts/header' %>
<div class="row">
  <aside class="col-md-4">
    <section class="happy_fox">
      <h1>
        Here are the Happy Fox API calls:
      </h1>
      <pre>

      </pre>
      </section>
    </aside>
  </div>

<div class='row'>
  <aside class='col-md-4'>
    <h1>
      Here are the controller methods
    </h1>
    <pre>
      <%= @counters %>
    </pre>
  </aside>
</div>
