<%= render 'layouts/header' %>
<div class="row">
  <aside class="col-md-4">
    <section class="happy_fox">
      <h1>
        Here are the Happy Fox API calls:
      </h1>
        <pre>
          <%= @tickets['data'].each do |tix| %>
          <%= tix %>
          <% end %>
        </pre>
      </section>
    </aside>
  </div>
