<%= render 'layouts/header' %>
<div class="row">
  <aside class="col-md-4">
    <section class="happy_fox">
      <h1>
        Here are the Happy Fox API calls:
        <pre>
          <% @tickets['data'].each do |tix| %>
            <%= tix %>
            <% end %>
          </table>
        </pre>
      </h1>
      <h3>
        <%= @tickets %>
      </h3>
    </section>
  </aside>
