<!DOCTYPE html>
<html>
  <body>
    <h1>
      Dashboard_KPI
    </h1>
    <h2>
      This is the dashboard web app for AvatarFleet.
    </h2>
    <h2>
      <% if user_signed_in? %>
        <%= link_to 'Dashboard', dashboard_path %>
      <% else %>
        <%= link_to 'Sign In', new_user_session_path %>
      <% end %>
    </h2>
  </body>
  <%= render 'layouts/header' %>
</html>
