<!DOCTYPE html>
<html>
  <body>
    <h1>
      Dashboard_KPI
    </h1>
    <h2>
      This is the dashboard web app for AvatarFleet.
    </h2>
    <h2>
      <%= link_to 'Sign In', new_user_session_path %>
    <br>
      <%= link_to 'Create Account', new_user_registration_path %>
    </br>
  </body>
  <%= render 'layouts/header' %>
</html>
